//META{"name":"straWberry","description":"straw berries?' href='https://discord.gg/z5DZz58'target='_blank'>SERVER</a><br>","author":"Kiwiz","version":"<span class='theme-version'></span>"}*//

@import url("https://rawgit.com/Kiwez/Themes/master/css/strawberry.css");

:root {
	--first-color: #1E1E1F;
	--second-color: #2C2C2D;
	--third-color: #3E3E3F;
	--fourth-color: #373738;
	--accent-color: #275726;
}
