//META{"name":"straWberry","description":"straw berries¿ <div class='theme-desc'></div><br><a class='donate' href='https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=U52RXEBS9ZYNW' target='_blank'>Donate pls</a><a class='discordserver' href='https://discord.gg/z5DZz58'target='_blank'>SERVER</a><br>","author":"Kiwiz","version":"<span class='theme-version'></span>"}*//

/* IMPORT CSS FROM GITHUB */
@import url("https://raw.githubusercontent.com/Kiwez/Themes/master/required/css/strawberry.css");
/*
---------------------------------------------------------------------------------------------------------------------------------------------
IMPORTANT: CHANGE DISCORDS THEME TO DARK THEME IN APPEARANCE SETTINGS FOR THIS THEME TO WORK!
---------------------------------------------------------------------------------------------------------------------------------------------
*/
:root {
	--first-color: #1E1E1F;
	--second-color: #2C2C2D;
	--third-color: #3E3E3F;
	--fourth-color: #373738;
	--accent-color: #275726;
}
